@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Regular"),
    local("GTWalsheimProRegular"),
    url("./static/fonts/GTWalsheimProRegular.woff2") format("woff2"),
    url("./static/fonts/GTWalsheimProRegular.woff") format("woff"),
    url("./static/fonts/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Bold"),
    local("GTWalsheimProBold"),
    url("./static/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("./static/fonts/GTWalsheimProBold.woff") format("woff"),
    url("./static/fonts/GTWalsheimProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a img:hover {
  /* #FEA116 */
  filter: brightness(0) saturate(100%) invert(76%) sepia(42%) saturate(3733%) hue-rotate(2deg)
    brightness(101%) contrast(97%);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
}

navbar {
  z-index: 100;
}

.link-underline {
  font-weight: 700;
}

#nav-logo button:hover,
a:hover {
  color: theme("colors.primary-color");
}

summary:hover {
  background-color: theme("colors.primary-color");
}

.head-underline,
.link-underline,
.intro-underline {
  position: relative;
  display: inline-block;
  z-index: 1;
  text-decoration: none;
}

.head-underline::after,
.link-underline::after,
.intro-underline::after {
  content: "";
  position: absolute;
  right: 1%;
  bottom: 2px;
  width: 100%;
  transform: skew(-12deg) translateY(-50%);
  z-index: -1;
  pointer-events: none;
}

.head-underline::after {
  height: 6px;
  background: theme("colors.primary-color");
}

.link-underline::after {
  height: 4px;
  background: theme("colors.secondary-color");
}

.intro-underline::after {
  height: 8px;
  background: theme("colors.secondary-color");
}

.text-stroke {
  color: theme("colors.primary-color");
  -webkit-text-stroke: 2px #000;
}

#footer-logo,
#footer-links {
  margin-left: 9vw;
}

@media (max-width: 1600px) {
  #footer-logo,
  #footer-links {
    margin-left: 7vw;
  }
}
@media (max-width: 1480px) {
  #footer-logo,
  #footer-links {
    margin-left: 5vw;
  }
}

@media (max-width: 1194px) {
  #footer-logo,
  #footer-links {
    margin-left: 3vw;
  }
  #footer-wrapper {
    width: 91.66%;
  }
  navbar {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .navbar-name {
    font-size: 18px;
  }
}

@media (max-width: 954px) {
  #footer-logo,
  #footer-links {
    margin-left: 0vw;
  }
  .navbar-name {
    display: none;
  }
}

@media (max-width: 540px) {
  #footer-links {
    flex-wrap: wrap;
  }
  #intro-header {
    font-size: 36px !important;
  }
  .intro-underline::after {
    height: 6px;
    transform: skew(-12deg);
  }
  #nav-sections {
    display: none;
  }
  #nav-logo,
  #nav-links {
    flex-basis: 50% !important;
  }
}

@media (max-width: 300px) {
  navbar {
    display: none !important;
  }
}
