@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Regular"),
    local("GTWalsheimProRegular"),
    url("./static/fonts/GTWalsheimProRegular.woff2") format("woff2"),
    url("./static/fonts/GTWalsheimProRegular.woff") format("woff"),
    url("./static/fonts/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Bold"),
    local("GTWalsheimProBold"),
    url("./static/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("./static/fonts/GTWalsheimProBold.woff") format("woff"),
    url("./static/fonts/GTWalsheimProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
}

navbar {
  z-index: 100;
}

.navbar-name:hover,
a:hover {
  color: theme("colors.primary-color");
}

/* .link-underline:hover {
  -webkit-text-stroke: 0.5px #000;
} */

.head-underline,
.link-underline,
.intro-underline {
  position: relative;
  display: inline-block;
  z-index: 1;
  text-decoration: none;
}

.head-underline::after,
.link-underline::after,
.intro-underline::after {
  content: "";
  position: absolute;
  right: 1%;
  bottom: 2px;
  width: 100%;
  transform: skew(-12deg) translateY(-50%);
  z-index: -1;
  pointer-events: none;
}

.head-underline::after {
  height: 6px;
  background: theme("colors.primary-color");
}

.link-underline::after {
  height: 4px;
  background: theme("colors.secondary-color");
}

.intro-underline::after {
  height: 8px;
  background: theme("colors.secondary-color");
}

.text-stroke {
  color: theme("colors.primary-color");
  -webkit-text-stroke: 2px #000;
}

#footer-logo,
#footer-links {
  margin-left: 9vw;
}

@media (max-width: 1600px) {
  #footer-logo,
  #footer-links {
    margin-left: 7vw;
  }
}
@media (max-width: 1480px) {
  #footer-logo,
  #footer-links {
    margin-left: 5vw;
  }
}

@media (max-width: 1194px) {
  #footer-logo,
  #footer-links {
    margin-left: 3vw;
  }
  #footer-wrapper {
    width: 91.66%;
  }
}

@media (max-width: 954px) {
  #footer-logo,
  #footer-links {
    margin-left: 0vw;
  }
}

@media (max-width: 540px) {
  #footer-links {
    flex-wrap: wrap;
  }
}
