@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Regular"),
    local("GTWalsheimProRegular"),
    url("./static/fonts/GTWalsheimProRegular.woff2") format("woff2"),
    url("./static/fonts/GTWalsheimProRegular.woff") format("woff"),
    url("./static/fonts/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src:
    local("GT Walsheim Pro Bold"),
    local("GTWalsheimProBold"),
    url("./static/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("./static/fonts/GTWalsheimProBold.woff") format("woff"),
    url("./static/fonts/GTWalsheimProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
}

#footer-logo,
#footer-links {
  margin-left: 9vw;
}

@media (max-width: 1600px) {
  #footer-logo,
  #footer-links {
    margin-left: 7vw;
  }
}
@media (max-width: 1480px) {
  #footer-logo,
  #footer-links {
    margin-left: 5vw;
  }
}

@media (max-width: 1194px) {
  #footer-logo,
  #footer-links {
    margin-left: 3vw;
  }
  #footer-wrapper {
    width: 91.66%;
  }
}

@media (max-width: 954px) {
  #footer-logo,
  #footer-links {
    margin-left: 0vw;
  }
}

@media (max-width: 540px) {
  #footer-links {
    flex-wrap: wrap;
  }
}
